.xust-top {
}
.xust-header{
    padding: 5px 30px 5px 0;
    background: #ffffff;
    box-shadow: #666 0 0 10px;
}
.btn-download {
    margin-top: 7px;
    margin-right:20px;
    position: relative;
}
.btn-download button {
    margin-right: 10px;
}
.section-left{
    position: fixed;
}
.xust-nav{
    list-style: none;
    margin: 0 20px 0 0;
    padding: 8px 38px 0 38px;
    background-color: #ffffff;
}
.my-home{
	color: #007bff;
	font-size: 28px;
}
.xust-nav li {
	padding-bottom: 10px;
    position: relative;
}
.xust-nav li:hover{
    background-color: #b8b9ba;
    color: #0056b3;
    cursor: pointer;

}
.about-us{
    color: #b8b9ba;
    font-size: 12px;
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
    margin: 2px 20px 0 0;
}
.type-nav{

}
.type-name{
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 1100px){
    .type-name{
        font-size: 18px;
    }
}


.type-name>div{
    position: absolute;
    top: 50%;
}
.type-icon img{
    width: 80%;
    height: auto;
}
body {
    padding-top: 80px;
    background-color: #e9ecef;
}
.wapper{
    width: 97%;
    height:500px;
    background-image: url('../img/banner.jpg');
    background-size: cover;
}
.xust-section{
    margin: 0 10px;
}
.xust-title {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}

.wel-box {
    width: 100%;
    height: 100%;
    padding: 50px 20px 10px;
    text-align: center;
    background: rgba(0,0,0,0.2);
}
.welcome{
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;

}
.xust{
    color: #007bff;
    padding-left: 4px;
    font-size: 24px;
}
.xust-en {
    color: #545b62;
    font-size: 16px;
    padding-left: 5px;
    margin-right: 50px;
}
.goods-new{
    height: 1900px;
}
.goods-type{
    text-align: left;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.about-us a {
    color: #b8b9ba;
}
.about-us p {
    font-size: 12px;
    margin: 5px 0 0 0;
}
.line{
    height: 2px;
    background-color: #007bff;
}
.card {
    border: 1px solid #b8b9ba;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: #666 0 0 10px;
}
@media screen and (max-width: 1100px){
    .catelog-name{
        font-size: 20px;
    }
}
.catelog-name{
        padding-left: 4px;
    }
.card-image img{
    width: 100%;
    height: 200px;
}
.card-content{
border-top: 1px solid #b8b9ba;
    padding: 5px;
}
.card-content .price {
    color: red;
    font-size: 20px;
    margin-top: 4px;
}
.card-content .name {
    /*color: red;*/
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 16px;
    /*margin-top: 10px;*/
}

.card-content .time {
    color: #007bff;
    margin-top: 10px;
    
}
.card-content .catelog {
    color: #ffffff;
    margin: 10px 0 0 4px;
    background-color: #FFD54F;
    padding: 0;
    text-align: center;
    border-radius: 5%;
}
.icon-pic{

}
.icon-pic img{
    width: 100%;
    height: auto;
}
#username{
	display: none;
	/*font-size: 22px;*/
	/*color: #FFFFFF;*/
}
.done {
	display: none;
}
.undone{
	/*display: none;*/
}
.over{
	display: none;
	text-align: center;
	color: #C4C4C4;
	padding-bottom: 10px;
}
.nothing{
	display: none;
	text-align: center;
	color: #8C8C8C;
	padding-bottom: 10px;
	border-bottom: 1px #C0C0C0 dashed ;
	margin: 0 20px 20px 20px;
}
.want-center{
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    margin: 2px 20px 0 0;
}
.want-center:hover {
	color: darkblue;
}
.want-center>div{
	color: #0044CC;
    font-size: 18px;
    /*padding: px;*/
    text-align: center;
}
.want-center:hover{
	cursor: pointer;
}
